<h1>Convert <%= @original_currency %> to <%= @destination_currency %> </h1>
Go
  <a href="/<%= @original_currency %>">
  back 
  </a>
  <div>
<body>
  1 <%= @original_currency %> equals <%= @conversion_rate %> <%= @destination_currency %>.
</body>
